@using Abp.Authorization.Users
@using Abp.MultiTenancy
@using Abp.Web.Mvc.Extensions
@using EMS.MultiTenancy
@model Abp.Application.Services.Dto.PagedResultDto<EMS.MultiTenancy.Dto.TenantDto>
@{
    ViewBag.ActiveMenu = "MoudleManage"; //The menu item will be active for this page.
}
@section scripts
{
}
<h2>title</h2>
